*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
--Soft-red: hsl(10, 79%, 65%);
--Cyan: hsl(186, 34%, 60%);
--Dark-brown: hsl(25, 47%, 15%);
--Medium-brown: hsl(28, 10%, 53%);
--Cream: hsl(27, 66%, 92%);
--Very-pale-orange: hsl(33, 100%, 98%);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

main{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Cream);
}

.container{
    width: 400px;
    height: 500px;
    
}

.top-container{
    height: 100px;
    padding: 0 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: var(--Soft-red);
    color: var(--Very-pale-orange);
    margin-bottom: 20px;
    border-radius: 15px;
}

.top-container .top-left p{
   font-size: 12px;
}
.top-container .top-left h1{
    letter-spacing: 1px;
    font-weight: 700;
    font-size: 21px;
 }

.top-container .top-right img{
    margin-right: 10px;
    width: 50px;
}

.bottom-container{
    height: 350px;
    background-color: var(--Very-pale-orange);
    border-radius: 15px;
    padding: 20px 26px ;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-container h3{
    font-size: 22px; 
}

.chart{
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
    margin-bottom: 20px;
}

.column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.column .col-box:hover .title{
    opacity: 1;
}
.title{
    border-radius: 3px;
    color: var(--Very-pale-orange);
    background-color: var(--Dark-brown);
    font-weight: 400;
    font-size: 12px;
    padding: 5px;
    margin-bottom: 10px;
    opacity: 0;
    transition: 0.3s ease;
    cursor: pointer;

}

.column:hover .title{
    opacity: 1;
}


.col-box{
    
    border-radius: 3px;
    width: 35px;
    height: 20px;
    background-color: var(--Soft-red);
    transition: 0.3s ease;
    cursor: pointer;
}
.col-box:hover{
    background-color: hsla(10, 79%, 65%, 0.759);
}

.blue{
    background-color: var(--Cyan);
}
.blue:hover{
    background-color:hsla(186, 36%, 66%, 0.8) ;
}

.chart p{
    color: var(--Medium-brown);
    text-align: center;
    font-size: 11px;
}
hr{
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.bottom-content{
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content-left p{
    font-weight: 400;
    font-size: 12px;
    color: var(--Medium-brown);

}
.content-left h3{
    font-weight: 700;
    font-size: 30px;

}

.content-right p{
    font-weight: 400;
    font-size: 12px;
    color: var(--Medium-brown);

}
.content-right h4{
    text-align: right;
    font-size: 14px;

}


@media(max-width:475px){
    .container{
        width: 340px;
        
    }
    .col-box{
        width: 30px;
    }


}


